@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300&family=Maven+Pro&display=swap');
*{
    margin:0;
    padding:0;
}
body{
    background-size: cover;
}
.logo{
    width:20%;
    display:flex;
    justify-content:center;
    align-items:center;
}
.logo img{
    width: 20%;
    border: 1px solid white;
    border-radius: 40px;
}
.navbar{
    display:flex;
    background: none;
    position: sticky;
    top: 0;
    cursor: pointer;
    background:black;
}
.nav-list{
    width:100%;
    display:flex;
    float: right;
    background: transparent; 
}
.nav-list li{
   list-style:none;
   padding: 26px 30px;
}
.nav-list li a{
   text-decoration:none;
   color:white;
   font-family: Arial, Helvetica, sans-serif;
   float: right;
   font-size: 13px; 
}
.btn-sm{
    padding: 3px 10px;
    vertical-align: middle;
}
.nav-list li a:hover {
    text-decoration:underline;
    font-size: 15px;
    font-weight: bold;
    transition: 250ms ease;
}
.aboutus h1{
    margin-top: 8%;
    margin-left: 5%;
    font-size: 45px;
    font-family: 'Maven Pro', sans-serif;
}
.description{
    width: 500px;
    font-size: 21px;
    text-align: justify;
    top:80%;
    margin-top: 4%;
    margin-left: 5%;
    font-family: 'Dosis', sans-serif;
    color: black;
}
.insta{
    justify-content: center;
    align-items: center;
    margin-left: 41%;
    width: 7%;
    border-radius: 49px;
    padding-top: 3px;
    margin-top: 3px;
    cursor: pointer;
}