@import url('https://fonts.googleapis.com/css2?family=Abel&family=Aboreto&family=Advent+Pro:wght@200&family=Dosis:wght@300&family=Edu+QLD+Beginner&family=Jost:wght@200&family=Maven+Pro&family=Oxygen&family=Philosopher&family=Saira:wght@300&family=Square+Peg&display=swap');
*{
    margin:0;
    padding:0;
}
.logo{
    width:20%;
    display:flex;
    justify-content:center;
    align-items:center;
}
.conttt{
    color: aliceblue;
}
.logo img{
    width: 20%;
    border: 1px solid white;
    border-radius: 40px;
}
.nvvv{
    display:flex;
    background: none;
    position: sticky;
    top: 0;
    cursor: pointer;
    background:rgba(39, 37, 37, 0.4);
}
.nlll{
    width:100%;
    display:flex;
    float: right;
    background: transparent;
    
}
.nlll li{
   list-style:none;
   padding: 26px 30px;
   
}
.nlll li a{
   text-decoration:none;
   color:white;
   font-family: Arial, Helvetica, sans-serif;
   float: right;
   font-size: 13px; 
}
.btn-sm{
    padding: 3px 10px;
    vertical-align: middle;
}
.nlll li a:hover {
    text-decoration:underline;
    font-size: 15px;
    font-weight: bold;
    transition: 250ms ease;
 }
body{
    background-image: url('buynow.jpg');
    background-position: cover;
}
.form-control::placeholder{
    color: black;

}
.form-control{
    color: black;
    background-color: azure;
    border: none;
    outline: none;
}